USE [master]
GO
/****** Object:  Database [Loja]    Script Date: 30/03/2024 11:30:24 ******/
CREATE DATABASE [Loja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Loja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUDASQLSERVER\MSSQL\DATA\Loja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Loja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUDASQLSERVER\MSSQL\DATA\Loja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loja]
GO
USE [Loja]
GO
/****** Object:  Sequence [dbo].[sq_idPessoa]    Script Date: 30/03/2024 11:30:24 ******/
CREATE SEQUENCE [dbo].[sq_idPessoa] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[FISICA]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FISICA](
	[CPF] [char](11) NOT NULL,
	[idPessoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JURIDICA]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JURIDICA](
	[CNPJ] [char](14) NOT NULL,
	[idPessoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMENTO]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMENTO](
	[idMovimento] [int] NOT NULL,
	[idProduto] [int] NULL,
	[idPessoa] [int] NULL,
	[idUsuario] [int] NULL,
	[quantidade] [int] NULL,
	[tipo] [char](1) NULL,
	[precoUnitario] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idMovimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESSOA]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESSOA](
	[idPessoa] [int] NOT NULL,
	[nome] [varchar](255) NULL,
	[logradouro] [varchar](255) NULL,
	[cidade] [varchar](255) NULL,
	[estado] [char](2) NULL,
	[telefone] [varchar](11) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[idProduto] [int] NOT NULL,
	[nome] [varchar](255) NULL,
	[quantidade] [int] NULL,
	[precoVenda] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 30/03/2024 11:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] NOT NULL,
	[acesso] [varchar](20) NULL,
	[senha] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FISICA]  WITH CHECK ADD  CONSTRAINT [fk_PesFis] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[PESSOA] ([idPessoa])
GO
ALTER TABLE [dbo].[FISICA] CHECK CONSTRAINT [fk_PesFis]
GO
ALTER TABLE [dbo].[JURIDICA]  WITH CHECK ADD  CONSTRAINT [fk_PesJur] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[PESSOA] ([idPessoa])
GO
ALTER TABLE [dbo].[JURIDICA] CHECK CONSTRAINT [fk_PesJur]
GO
ALTER TABLE [dbo].[MOVIMENTO]  WITH CHECK ADD  CONSTRAINT [fk_PesMov] FOREIGN KEY([idPessoa])
REFERENCES [dbo].[PESSOA] ([idPessoa])
GO
ALTER TABLE [dbo].[MOVIMENTO] CHECK CONSTRAINT [fk_PesMov]
GO
ALTER TABLE [dbo].[MOVIMENTO]  WITH CHECK ADD  CONSTRAINT [fk_ProdMov] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([idProduto])
GO
ALTER TABLE [dbo].[MOVIMENTO] CHECK CONSTRAINT [fk_ProdMov]
GO
ALTER TABLE [dbo].[MOVIMENTO]  WITH CHECK ADD  CONSTRAINT [fk_UsuMov] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[MOVIMENTO] CHECK CONSTRAINT [fk_UsuMov]
GO
USE [master]
GO
